<div class="row">
  <div class="col-md-4 bt-section">
    <i class="fas fa-utensils"></i>
    <h2>Lista menu w aplikacji</h2>
    <a class="nav-link" [routerLink]="['/panel/list-menu']"></a>
  </div>
  <div class="col-md-4 bt-section">
    <i class="fas fa-list-alt"></i>
    <h2>Elementy karty w kategoriach</h2>
    <a class="nav-link" [routerLink]="['/panel/menu-elements']"></a>
  </div>
  <div class="col-md-4 bt-section">
    <i class="fas fa-cogs"></i>
    <h2>Opcje i konfiguracja</h2>
    <a class="nav-link" [routerLink]="['/panel/options-and-config']"></a>
  </div>
</div>
